{% import '_includes/forms.twig' as forms %}

{{ forms.textField({
    label: 'Webspace (in GB)',
    name: 'diskTotalSpace',
    value: settings.diskTotalSpace,
    type: 'number',
    placeholder:'1',
    min: 0,
    size: 4
}) }}

<p>
    Enter available webspace for this project.
</p>


{{ forms.lightswitchField({
    label: 'Include database size',
    name: 'dbSizeInCalc',
    value: settings.dbSizeInCalc,
    on: settings.dbSizeInCalc,
}) }}


{{ forms.lightswitchField({
    label: 'Email Notifications (FIXME: This is a placeholder for now)',
    name: 'emailNotificationsEnabled',
    value: settings.emailNotificationsEnabled,
    on: settings.emailNotificationsEnabled,
}) }}

{{ forms.textField({
    label: 'Notification Limit Percent (FIXME: This is a placeholder for now)',
    name: 'notificationLimit',
    value: settings.notificationLimit,
    type: 'number',
    placeholder:'90',
    min: 0,
    max: 100,
    size: 3
}) }}


{{ forms.editableTableField({
    label: 'Email Addresses',
    instructions: 'Enter email addresses.',
    id: 'emailRecipients',
    name: 'emailRecipients',
    allowAdd: true,
    allowDelete: true,
    addRowLabel: 'Add Email Address',
    cols: [
        {
            heading : 'Email Address',
            type: 'email',
        },
    ],
    rows: settings.emailRecipients
}) }}